.GraphicsPlaygroundView{
    -fx-background-color: aliceblue;
    -fx-border-width: 2.0;
    -fx-border-color: red;
}

.SceneView{
    -fx-border-width:5.0;
    -fx-border-color:pink;
}

.main-button{
        -fx-background-color: lightblue;
}

.main-button:hover{
        -fx-background-color: blue;
}

.FlowFieldViz{
    -fx-background-color: red;
    -fx-border-width: 5.0;
    -fx-border-color: grey;
}

.MusicViz{
    -fx-background-color: brown;
}

.CenterCircle{
    -fx-border-width: 2.0;
    -fx-background-color: lightyellow;
}

.MediaView{
    -fx-background-color: brown;

}

.BingeViz{
    -fx-background-color: royalblue;
}

.BingeBubble{

}

.BarCodeViz{
    -fx-background-color: lightgrey;
}

.BarBox{
    -fx-background-color: red;
}

.ControlView{
    -fx-background-color: brown;
    -fx-border-width: 2.0;
    -fx-border-color: red;
}

.ContentView{
    -fx-background-color:grey;
        -fx-border-width: 2.0;
        -fx-border-color: red;
}