.main{
    -fx-background-color: aliceblue;
}

.main-button{
        -fx-background-color: lightblue;
}

.main-button:hover{
        -fx-background-color: blue;
}

.flowField{
    -fx-background-color: red;
    -fx-border-width: 5.0;
    -fx-border-color: grey;
}

.barcode{
    -fx-background-color: turquoise;
}

.boundingBox{
   -fx-background-color: grey;
   -fx-border-width: 2.0;
   -fx-border-color: darkgrey;
}